<template>
  <div class="animations">
    <div class="mover1">
      <svg width="100" height="100">
        <rect
          width="100%"
          height="100%"
          v-bind:style="{ fill: color, 'stroke-width':'5', 'stroke':'rgb(0,0,0)' }"
        />

        <text x="30%" y="60%" style="font: bold 200% sans-serif;" fill="white">14</text>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: "Animations",
  data() {
    return {
      colors: ["#ef0404", "#e3fc07", "#38fc07", "#07fcc3", "#0730fc", "#e307fc"],
      color: "green",
    };
  },
  created() {
    setInterval(() => {
      this.color = this.colors[Math.floor(Math.random() * this.colors.length)];
    }, 500);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mover1 {
  bottom: 0px;
  position: absolute;
  right: 50%;
  animation: mover1 10s infinite;
}

@keyframes mover1 {
  0% {
    right: 0%;
  }

  100% {
    right: 120%;
  }
}
</style>
