<template>
  <div class="countdown">
    <p class="countdown_val">{{ timetobirthday }} Tage noch</p>
  </div>
</template>

<script>
import moment from "moment";

moment.locale("de");

export default {
  name: "Countdown",
  props: {},
  data() {
    return {
      birthday: new Date(2020, 4, 23),
    };
  },
  computed: {
    timetobirthday: function() {
      const diffTime = Math.abs(new Date() - this.birthday);
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      return diffDays;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
p {
  margin: 0px;
  padding: 0px;
}
</style>
