<template>
  <div class="hello">
    <li><a :href="link">{{ text }}</a></li>
  </div>
</template>

<script>
export default {
  name: 'Wish',
  props: {
    text: String,
    link: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
