<template>
  <div id="app">
    <h1>🤩 Alwins Wunschliste 🤩</h1>
    <Countdown />
    <ol>
      <Wish
        v-for="wish in wishes"
        v-bind:key="wish.text"
        :link="wish.link"
        :text="wish.name"
      />
    </ol>
    <Animations />
    <Snowf
      :amount="50"
      :size="5"
      :speed="10.5"
      :wind="0"
      :opacity="0.8"
      :swing="10"
      :image="null"
      :zIndex="-100"
      :resize="true"
      color="#fff"
    />
  </div>
</template>

<script>
import Wish from "./components/Wish.vue";
import Animations from "./components/Animations.vue";
import Countdown from "./components/Countdown.vue";
import Snowf from "vue-snowf";

export default {
  name: "App",
  data: function() {
    return {
      wishes: [
        {
          name: "Raspberry Pi 4 4GB Set",
          link:
            "https://www.amazon.de/InnoConnect-Raspberry-Bundle-32GB-microSD-Karte/dp/B07Y3CVY3D/ref=sr_1_7?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=L18U5WLA4JE5&keywords=raspberry+pi+4&qid=1583585745&sprefix=Rasp%2Caps%2C233&sr=8-7",
        },
        {
          name: "ESP32",
          link:
            "https://www.amazon.de/AZDelivery-NodeMCU-Development-Nachfolgermodell-ESP8266/dp/B071P98VTG/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=ESP32&qid=1587411836&sr=8-3",
        },
        {
          name: "Sticker",
          link:
            "https://www.amazon.de/cyk-Programmiersprache-Sticker-Internet-Developer/dp/B0819PYMSK/ref=sr_1_13?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=programmiersprachen+sticker&qid=1587412482&sr=8-13",
        },
        {
          name: "Raspberry Pi Netzteil (Micro USB)",
          link:
            "https://www.amazon.de/Raspberry-Offizielles-Pi-Netzteil-schwarz/dp/B01DP8O5A4/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=118VLDBSHJ5EO&dchild=1&keywords=raspberry+pi+netzteil+3b&qid=1587938343&sprefix=raspberry+pi+netz%2Caps%2C230&sr=8-3",
        },
        {
          name: "ESP32 Cam",
          link: "https://www.amazon.de/Sun3Printer-ESP32-CAM-Bluetooth-Development-Wireless/dp/B07SHPFC8S/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=ESP32+cam&qid=1589226935&sr=8-3"
        },
        {
          name: "QualityLand Hörbuch",
          link: "javascript:alert('Muss du selbst suchen :) Als Dateien und nicht als CD.')"
        },
        {
          name: "SATA Adapter",
          link: "https://www.amazon.de/EasyULT-Festplatte-Konverter-Adapterkabel-Laufwerke/dp/B07L5DK7C5/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=hdd%2B3.5%2Busb%2B3.0%2Badapter&qid=1589198761&sr=8-3&th=1"
        }
      ],
    };
  },
  components: {
    Wish,
    Countdown,
    Animations,
    Snowf
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #33485e;
  margin-top: 20px;

  content: "";
}

ol {
  list-style-type: decimal;
  font-weight: 600;
  font-size: 150%;
  padding: 0px;
}

h1 {
  margin-top: 0px;
  padding: 0px;
  font-size: 300%;
}

body {
  background: #80d313;
}
</style>
